<div id="jstree" class="leftDiv">
    <ul>
        <li>Disclosure of general information about company</li>
        <li>Balance sheet</li>
        <li>Statement of Cash Flow</li>
        <li>
            Notes
            <ul>
                <li>Notes-Share Capital</li>
                <li>Notes-Reserves and surplus</li>
                <li>Notes-Borrowings</li>
                <li>Notes-Non-current investment</li>
                <li>Notes-Current investments</li>
                <li>Notes-Subclassification and notes on liabilities and assets</li>
                <li>Notes-Additional disclosures on balance sheet</li>
                <li>Notes-Disclosure of accounting policies, changes in accounting policies and estimate</li>
                @*<li>Child Node 2</li>
                    <li>Notes-Share Capital</li>
                    <li>Balance sheet</li>
                    <li>Child Node 2</li>
                    <li>Notes-Share Capital</li>
                    <li>Balance sheet</li>
                    <li>Child Node 2</li>
                    <li>Notes-Share Capital</li>
                    <li>Balance sheet</li>
                    <li>Child Node 2</li>*@
            </ul>
        </li>
        <li>Disclosure</li>
    </ul>
</div>
